
@import url('https://fonts.googleapis.com/css?family=Passion+One|Rubik:400,500&display=swap');

h1{
  font-family: 'Passion One', cursive;
}
p{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}


.col{
  width: 33.33%;
  float: left;
}

/* .background{
 background: -webkit-linear-gradient(right, #021859, #032ca6, #0b9ed9);
 background: -o-linear-gradient(right, #021859, #032ca6, #0b9ed9);
 background: linear-gradient(to left, #021859, #032ca6, #0b9ed9);
   background-size: 600% 600%;

   -webkit-animation: AnimationName 50s ease infinite;
   animation: AnimationName 50s ease infinite;


 } */


#popup{
  position: absolute;
  max-width: 50%;
  padding: 2% 4%;
  top: 25%;
  left: 25%;
  background: rgba(0, 0, 0, 0.2);
  color:#ffffff;
  border-radius: 10px;
}

#popup h1{
  font-family: 'Passion One', cursive;
  text-align: center;
  color: #4ACCFF;
  letter-spacing: 2px;
  line-height: 1.2;
}

#popup p{
  letter-spacing: 1.2px;
  line-height: 1.6;
}

#popup #logo{
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  display: block;
}

/* button */

.myButton {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	cursor:pointer;
	color:#666666;

  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
	padding:12px 63px;

  margin: 5px auto;
  text-decoration: none;
  text-align: center;

  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;


}
.myButton:hover {
  color:#ffffff;
	background:linear-gradient(to bottom, #F25CA2 5%, #F25CA2 100%);
	background-color:#F25CA2;
}
.myButton:active {
	position:relative;
	top:1px;
}




/* .coral-right{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -2;
}
.coral-left{
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
} */
